<div class="col_6 col">
  <!-- Singel Card Box Start -->
  <div class="cart_box">
    <!-- Singel Card Box Image -->
    <div class="cart_img_box">
      {%- unless block.settings.image -%}
        {{ 'product-1' | placeholder_svg_tag: 'w-2o h-20' }}
      {%- endunless -%}
      {% if block.settings.image != blank %}
        <img
          class="cart_box_img"
          width=""
          height=""
          src="{{ block.settings.image | image_url }}"
          alt="cartbox1"
        >
      {% endif %}
    </div>
    <!-- Singel Card Box Image -->
    <div class="cart_box_content">
      <h3 class="cart_box_title">{{ block.settings.main_title }}</h3>
      <p class="des_type4">
        {{ block.settings.content }}
      </p>
    </div>
    <!-- Top Right Icon Box -->
    <div class="cart_icon">
      <i class="fa-solid fa-plus"></i>
    </div>
    <!-- Click Show Box -->
    <div class="overlay_box">
      <div class="cart_box_content">
        <h3 class="cart_box_title">{{ block.settings.main_title }}</h3>
        <p class="des_type4">
          {{ block.settings.content }}
        </p>
        <hr>
        <div class="rev">
          {% assign star_count = block.settings.star_count %}
          rev::
          {{ block.settings.star_count }}
          <!-- Change this value to control the number of stars -->
          {% for i in (1..star_count) %}
            <i class="fa-solid fa-star"></i>
          {% endfor %}
          <!--
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          -->
        </div>
        <p class="des_type4">{{ block.settings.review_title }}</p>
        <p class="rev_text">“{{ block.settings.review_content }}”</p>
        <p class="rev_text_b">{{ block.settings.reviews_name_date }}</p>
      </div>
    </div>
    <!-- Click Show Box -->
  </div>
  <!-- Singel Card Box -->
</div>
