<section class="banner">
  <!-- <div class="banner"> -->
  <style>
    .background_clip {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
  <video autoplay loop muted plays-inline playsinline preload="none" class="background_clip">
    <source src="{{ section.settings.banner_video.sources.second.url  }}" type="video/mp4">
  </video>

  <div class="container">
    {{ section.settings.banner_video.sources.first.url | json }}
    <div class="row">
      <div class="col_5 col">
        <div class="banner_content">
          <h2 class="title">{{ section.settings.title }}</h2>
          <p class="des_type1">{{ section.settings.short_desc }}</p>
          <a class="btn_style1" href="{{ section.settings.link_url }}">
            {{ section.settings.link_title }}
            <i
              class="fa-solid fa-arrow-right-long"
            ></i
          ></a>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>

{% schema %}
{
  "name": "Lp Video Banner",
  "tag": "section",
  "settings": [
    {
      "type": "video",
      "id": "banner_video",
      "label": "Banner video"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Main title",
      "default": "We’re here to help you feel balanced strong focused"
    },
    {
      "type": "text",
      "id": "short_desc",
      "label": "Short Description",
      "default": "AG1 is a daily Foundational Nutrition supplement that supports whole body health.*"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "Start Your AG1 Today"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "Lp Video Banner",
      "settings": {}
    }
  ]
}
{% endschema %}
