{% comment %} #styles {% endcomment %}

{{ 'lp-lightbox.min.css' | asset_url | stylesheet_tag }}
{{ 'lp-media.css' | asset_url | stylesheet_tag }}
{{ 'lp-styles.css' | asset_url | stylesheet_tag }}

<div>
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'video_banner' -%}
        <section style="padding-top:0;" class="banner">
          <!-- <div class="banner"> -->
          <style>
            .shopify-section-video_banner {
              padding-top: 0 !important;
            }
            .background_clip {
              position: absolute;
              right: 0;
              left: 0;
              bottom: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          </style>
          <!--
            <video autoplay loop muted plays-inline playsinline preload="none" class="background_clip">
              <source src="{{ section.settings.banner_video.sources.first.url  }}" type="video/mp4">
            </video>
          -->

          {{
            block.settings.banner_video
            | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'background_clip'
          }}
          <div class="container">
            <div class="row">
              <div class="col_5 col">
                <div class="banner_content">
                  <h2 class="title">{{ block.settings.title }}</h2>
                  <p class="des_type1">{{ block.settings.short_desc }}</p>
                  {% liquid
                    assign disabled_link = ''
                    if block.settings.link_url == blank
                      assign disabled_link = 'cursor-disable'
                    elsif block.settings.link_url != blank
                      assign disabled_link = ''
                    endif
                  %}
                  <a class="btn_style1 {{ disabled_link }}" href="{{ block.settings.link_url }}">
                    {{ block.settings.link_title }}
                    <i
                      class="fa-solid fa-arrow-right-long"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </section>
      {%- else -%}
        <div>else</div>
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Lp Dringkage Block Type",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "video_banner",
      "name": "Video Banner",
      "settings": [
        {
          "type": "video",
          "id": "banner_video",
          "label": "Banner video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Main title",
          "default": "We’re here to help you feel balanced strong focused"
        },
        {
          "type": "text",
          "id": "short_desc",
          "label": "Short Description",
          "default": "AG1 is a daily Foundational Nutrition supplement that supports whole body health.*"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Link title",
          "default": "Start Your AG1 Today",
          "info": "Please Add link below to activate link"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lp Dringkage Block Type",
      "settings": {}
    }
  ]
}
{% endschema %}

<script defer src="{{ 'lp-lightbox-plus-jquery.min.js'  |  asset_url }}"></script>
